<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="monster-train-packages" value="https://nuget.pkg.github.com/Monster-Train-2-Modding-Group/index.json" />
    <add key="bepinex-packages" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <monster-train-packages>
      <add key="Username" value="%GITHUB_USER%" />
      <add key="ClearTextPassword" value="%GH_AUTH_TOKEN%" />
    </monster-train-packages>
  </packageSourceCredentials>
</configuration>